<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{{ url("dashboard") }}">
		{% trans from "main" %}tool.name{% endtrans %}
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{% for item in gen.menu %}
				<li class="nav-item">
					<a class="nav-link" href="{{ item.url }}">{{ item.name }}</a>
				</li>
			{% endfor %}
		</ul>
		<ul class="my-2 my-lg-0 navbar-nav">
			<li class="nav-item">
				<a href="{{ url("/logout") }}" class="nav-link">
					<svg class="fi fi-gray-dark">
						<use xlink:href="{{ asset('/files/icons/feather-sprite.svg') }}#power" />
					</svg>
				</a>
			</li>
{#			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
		</ul>
	</div>
</nav>