{% extends 'base.html.twig' %}
{% trans_default_domain 'newSetup' %}
{% block title %} - {% trans %}setup{% endtrans %}{% endblock %}
{% block body %}
	<div id="particles-js"></div>
	<div class="d-flex justify-content-center align-items-center main">
		<div class="w-50 card">
			<div class="card-body">
				<div class="d-flex justify-content-center">
					<img src="{{ asset('/files/images/logo.png') }}" class="w-50" alt="{% trans from 'main' %}tool.name{% endtrans %}">
				</div>
				<div class="row">
					<div class="col">
						<p>{{ "welcome_text"|trans|nl2br }}</p>
						<p>{{ "user_setup_text"|trans|nl2br }}</p>
						{{ form(f) }}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('new_setup') }}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('new_setup') }}
{% endblock %}